extends layout

append head
  link(rel='stylesheet', href='/stylesheets/kursi.css')

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="javascript:history.back()") 
      span(class="fas fa-arrow-left")
      |  Back 
      if (collections)
        | - #{collections.nama}
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout
  br
  br
  br
  div(class="d-flex flex-row")
    button(type="button" class="btn btn-success btn-kursi") Dapat dibook
    span &nbsp;
    button(type="button" class="btn btn-warning btn-kursi") Sedang diisi
    span &nbsp;
    button(type="button" class="btn btn-danger btn-kursi") Sudah diisi
    span &nbsp;
    button(type="button" class="btn btn-info btn-kursi") Sudah dibook
    span &nbsp;
    button(type="button" class="btn btn-kursi") Kursi rusak
  br

block cover-main  
  if (user)        
    table(class="table")
      tbody
        - var row = ["Q","P","O","N","M","L","K","J","I","H","G","F","E","D","C","B","A"]
        each i in row          
          tr
            td #{i}
            - var range1 = []            
            - var range2 = []   
            - var range3 = []   
            - var range4 = []   
            - var range5 = []   
            if i == "Q"
              - range1 = [1,2]
              - range2 = [1,2,3,4]
              - range3 = [1,2,3,4,5,6]
              - range4 = [5,6,7,8]
              - range5 = [1,2]
            else if ["O","P"].includes(i)
              - range1 = [1]
              - range2 = [1,2,3,4,5]
              - range3 = [1]
              - range4 = [6,7,8,9,10]
              - range5 = [1]
            else if ["M","N"].includes(i)
              - range2 = [1,2,3,4,5,6]
              - range3 = [1,2,3,4,5,6]
              - range4 = [7,8,9,10,11,12]
            else if ["L"].includes(i)
              - range2 = [1,2,3,4,5,6]
              - range4 = [7,8,9,10,11,12,13,14,15,16,17,18]
              - range5 = [1]
            else
              - range2 = [1,2,3,4,5,6,7,8]
              - range3 = [1,2]
              - range4 = [9,10,11,12,13,14,15,16]
              - range5 = [1]
            each val in range1
              td
                label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]          
            each val in range2
              - var idKursi = i + val
              td
                label(class="switch") #[button(type="button" class="btn btn-success btn-kursi" id=i+val) #{val}]
            each val in range3
              if ["P","O"].includes(i)
                td(colspan="6")
                  - var teks = ""
                  if i == "P"
                    - teks = "Ruang"
                  else                  
                    - teks = "Teknik"
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans") #{teks}]
              else
                td
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
            each val in range4
              - var idKursi = i + val
              td
                label(class="switch") #[button(type="button" class="btn btn-success btn-kursi" id=idKursi) #{val}]
            each val in range5
              td
                label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
          if i == "E"
            tr
              each val in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
                td
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
        tr(rowspan="2") 
          td
            label(class="switch") #[input(type="checkbox")] #[span(class="slider-trans")]
        tr
          td
            label(class="switch") #[input(type="checkbox")] #[span(class="slider-trans")]
          td(colspan="18" class="layar") Layar
      

    

block cover-footer
  <!-- Modal -->  
  div(class="modal fade" id="modalLong" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          h5(class="modal-title" id="modalLongTitle") Modal Title
          button(type="button" id="modalClose1" class="close" data-dismiss="modal" aria-label="close")
            span(aria-hidden="true") &times;
        div(class="modal-body")
          form(id="bookingForm" action="./book")
            input(type="hidden" id="idBkBook" name="idBkBook" value="")
            input(type="hidden" id="idKursiBook" name="idKursiBook" value="")
            input(type="text" class="form-control" id="namaInput" placeholder="Nama Kamu" name="nama" autocomplete="off")
            input(type="text" class="form-control" id="lembagaInput" placeholder="Unit / Fakultas / Jurusan / Umum / Komunitas" name="lembaga" autocomplete="off")
            input(type="email" class="form-control" id="emailInput" placeholder="Email" name="email" autocomplete="off")
            input(type="text" class="form-control" id="hpInput" placeholder="Nomor Hp" name="hp" autocomplete="off")
            p Tahu Bioskop kampus dari
            input(type="radio" id="radio1" name="info" value="Instagram" autocomplete="off")
            span(class="radioLabel")  Instagram
            br
            input(type="radio" id="radio2" name="info" value="LINE" autocomplete="off")
            span(class="radioLabel")  LINE
            br
            input(type="radio" id="radio3" name="info" value="Twitter" autocomplete="off")
            span(class="radioLabel")  Twitter
            br
            input(type="radio" id="radio4" name="info" value="Teman" autocomplete="off")
            span(class="radioLabel")  Teman
            br
            input(type="radio" id="radio5" name="info" value="Lainnya" autocomplete="off")
            span(class="radioLabel")  Lainnya




        div(class="modal-footer")
          button(type="button" id="modalClose2" class="btn btn-secondary" data-dismiss="modal") Batal
          button(type="button" id="modalSubmit" class="btn btn-primary") Simpan
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.

append content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js")  
  script.
    $(() => {
      var socket = io();      
      $('#modalLong').on('hidden.bs.modal', (e) => {        
        let payload = { idBk : $('#idBkBook').val() , idKursi : $('#idKursiBook').val()};
        $('#idBkBook').val("");
        $('#idKursiBook').val("");
        $('#namaInput').val("");
        $('#emailInput').val("");
        $('#lembagaInput').val("");
        $('#hpInput').val("");
        $('#radio1').prop('checked', false);
        $('#radio2').prop('checked', false);
        $('#radio3').prop('checked', false);
        $('#radio4').prop('checked', false);
        $('#radio5').prop('checked', false);
        socket.emit('hapusKursiPending', payload);
      });

      $('#modalSubmit').click(() => {
        let info = "";
        if ($('#radio1').is(':checked')) {
          info = $('#radio1').val();
        } else if ($('#radio2').is(':checked')) {
          info = $('#radio2').val();
        } else if ($('#radio3').is(':checked')) {
          info = $('#radio3').val();
        } else if ($('#radio4').is(':checked')) {
          info = $('#radio4').val();
        } else if ($('#radio5').is(':checked')) {
          info = $('#radio5').val();
        }
        let regexEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/ ;
        if (($('#namaInput').val() === "") || ($('#emailInput').val() === "") || ($('#lembagaInput').val() === "") || ($('#hpInput').val() === "") || (info === "")) {
          alert("Form ini harus diisi semua");
        } else if ($('#hpInput').val().search(/[a-zA-Z]/g) !== -1) {
          alert("Form telepon tidak boleh ada huruf!");
        } else if (!(regexEmail.test($('#emailInput').val()))) {
          alert("Form email harus valid!");
        } else {
          let payload = { 
            pendaftar: "#{user._id}",
            bk : $('#idBkBook').val(),
            kursi : $('#idKursiBook').val(),
            nama : $('#namaInput').val(),
            lembaga : $('#lembagaInput').val(),
            email : $('#emailInput').val(),
            hp : $('#hpInput').val(),
            info : info
          };
          console.log('payload');
          $('#modalLong').modal('hide');              
          socket.emit('bookKursi', payload);
        }
      });
      let row = ["Q","P","O","N","M","L","K","J","I","H","G","F","E","D","C","B","A"];
      let col = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18];
      row.forEach((i) => {
        col.forEach((j) => {
          $('#'+i+j).click(() => {
            if (($('#'+i+j).hasClass("btn-success")) && (!($('#'+i+j).hasClass("btn-danger"))) && (!($('#'+i+j).hasClass("btn-info")))) {
              let link = window.location.href
              $('#modalLong').find('.modal-title').text('Pemesanan kursi ' + i+j)
              $('#idBkBook').val(link.slice(link.indexOf("book/")+5));
              $('#idKursiBook').val(i+j);
              $('#modalLong').modal('show');              
              let bk = { idBk : link.slice(link.indexOf("book/")+5) , idKursi : i+j};
              socket.emit('tambahKursiPending', bk);
              return false;
            }
          });
        });
      });
      socket.on('pendings', (bks) => {
        let link = window.location.href;
        let index = link.indexOf("book/");
        let found = false;

        let row = ["Q","P","O","N","M","L","K","J","I","H","G","F","E","D","C","B","A"];
        let col = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18];
        row.forEach((i) => {
          col.forEach((j) => {
            if($('#'+i+j).hasClass("btn-warning")) {
              $('#'+i+j).removeClass("btn-warning");
              $('#'+i+j).addClass("btn-success");
            }
          });
        });
        
        if (bks.length === 0) {
          let bk = { idBk : link.slice(index+5) , kursi : []}
          socket.emit('tambahBk', bk);
        } else {
          bks.forEach((bk) => {
            if (bk.idBk === link.slice(index+5)) {
                found = true;
                bk.kursi.forEach((id) => {
                  $('#'+id).removeClass("btn-success");
                  $('#'+id).addClass("btn-warning");
                });
            }            
          });
          if (!found){
            let bk = { idBk : link.slice(index+5) , kursi : []}
            socket.emit('tambahBk', bk);
          }
        }
      });
      socket.on('bookedData', (data) => {
        data.forEach((bk) => {
          if (bk.bk._id === window.location.href.slice(window.location.href.indexOf("book/")+5)) {
            let label = bk.kursi.label
            if (bk.status === "accepted") {
              $('#'+label).removeClass("btn-success");
              $('#'+label).removeClass("btn-warning");
              $('#'+label).addClass("btn-danger");
            } else if (bk.status === "pending") {
              $('#'+label).removeClass("btn-success");
              $('#'+label).removeClass("btn-warning");
              $('#'+label).addClass("btn-info");
            }
          }
        });
      });
      socket.on('dataKursiRusak', (data) => {
        data.forEach((bk) => {
            $('#'+bk.label).removeClass("btn-success");
            $('#'+bk.label).removeClass("btn-warning");
            $('#'+bk.label).removeClass("btn-danger");
        });
      });
      socket.on('disconnect', function(){
      });
    });    