extends layout

append head
  link(rel='stylesheet', href='/stylesheets/kursi.css')

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="/") 
      span(class="fas fa-arrow-left")
      |  Back - Pengaturan Kursi Rusak
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout

block cover-main  
  if ((user) && (user.role==="admin"))    
    table(class="table")
      tbody
        - var row = ["Q","P","O","N","M","L","K","J","I","H","G","F","E","D","C","B","A"]
        each i in row          
          tr
            td #{i}
            - var range1 = []            
            - var range2 = []   
            - var range3 = []   
            - var range4 = []   
            - var range5 = []   
            if i == "Q"
              - range1 = [1,2]
              - range2 = [1,2,3,4]
              - range3 = [1,2,3,4,5,6]
              - range4 = [5,6,7,8]
              - range5 = [1,2]
            else if ["O","P"].includes(i)
              - range1 = [1]
              - range2 = [1,2,3,4,5]
              - range3 = [1]
              - range4 = [6,7,8,9,10]
              - range5 = [1]
            else if ["M","N"].includes(i)
              - range2 = [1,2,3,4,5,6]
              - range3 = [1,2,3,4,5,6]
              - range4 = [7,8,9,10,11,12]
            else if ["L"].includes(i)
              - range2 = [1,2,3,4,5,6]
              - range4 = [7,8,9,10,11,12,13,14,15,16,17,18]
              - range5 = [1]
            else
              - range2 = [1,2,3,4,5,6,7,8]
              - range3 = [1,2]
              - range4 = [9,10,11,12,13,14,15,16]
              - range5 = [1]
            each val in range1
              td
                label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]          
            each val in range2
              - var idKursi = i + val
              td
                label(class="switch") #[button(type="button" class="btn btn-success btn-kursi" id=idKursi) #{val}]
            each val in range3
              if ["P","O"].includes(i)
                td(colspan="6")
                  - var teks = ""
                  if i == "P"
                    - teks = "Ruang"
                  else                  
                    - teks = "Teknik"
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans") #{teks}]
              else
                td
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
            each val in range4
              - var idKursi = i + val
              td
                label(class="switch") #[button(type="button" class="btn btn-success btn-kursi" id=idKursi) #{val}]
            each val in range5
              td
                label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
          if i == "E"
            tr
              each val in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
                td
                  label(class="switch") #[input(type="checkbox") ] #[span(class="slider-trans")]
        tr(rowspan="2") 
          td
            label(class="switch") #[input(type="checkbox")] #[span(class="slider-trans")]
        tr
          td
            label(class="switch") #[input(type="checkbox")] #[span(class="slider-trans")]
          td(colspan="18" class="layar") Layar
      

    

block cover-footer  
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.

append content
  script.
    $(() => {
      let row = ["Q","P","O","N","M","L","K","J","I","H","G","F","E","D","C","B","A"];
      let col = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18];
      row.forEach((i) => {
        col.forEach((j) => {
          $('#'+i+j).click(() => {
            window.location.href = '/kursiRusak/'+i+j;
          });
        });
      });
    });
  each val in dataKursiRusak
    script.
      $(() => {
        $("##{val.label}").removeClass('btn-success');
      });