extends layout

append head
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/css/tableexport.min.css')

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="javascript:history.back()") 
      span(class="fas fa-arrow-left")
      |  Back
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout

block cover-main  
  if ((user)&&(user.role !== "admin")&&(collections))
    table(class="table" id="dvData")
      tr
        th(scope="col") #
        th(scope="col") BK
        th(scope="col") Tanggal
        th(scope="col") Status Peminjaman
        th(scope="col") 
      each item,idx in collections
        tr
          th(scope="row") #{idx+1}
          td #{item.bk.nama}
          td #{item.bk.tanggal}
          if item.status === "accepted"
            td
              span(class="badge badge-primary") #{item.status}
          else if item.status === "pending"
            td
                span(class="badge badge-warning") #{item.status}
          else if item.status === "canceled"
            td
                span(class="badge badge-danger") #{item.status}
          if ( item.status === "pending")
            td
              button(class="btn btn-danger" id=item._id) Batalkan Peminjaman
          else
            td

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.

append content
  each item in collections
    script.
      $(() => {
        $('##{item._id}').click(() => {
          window.location.href = "/cancelBook/#{item._id}";
        });
      });