extends layout

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="javascript:history.back()") 
      span(class="fas fa-arrow-left")
      |  Back
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout

block cover-main  
  if (user)    
    h3 #{collections.nama}
    p Tanggal : #{collections.tanggal}
    p Waktu : #{collections.mulai} - #{collections.berakhir}
    if (user.role === "admin")
      p Fungs : #{collections.fungs.username}    
    a(href="/book/" + collections._id class="btn btn-primary") Book
    br
    br
    if (user.role === "admin")
      a(href="/visitors/" + collections._id class="btn btn-info") Lihat Pengunjung
      br
      br
      a(href="/showPendingBook/" + collections._id class="btn btn-warning") Verifikasi Pemesanan Kursi

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.


          
