extends layout

append head
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/css/tableexport.min.css')

block cover-header  
  h3(class="masthead-brand")
    a(class="nav-link" href="javascript:history.back()") 
      span(class="fas fa-arrow-left")
      |  Back
  if (!user)
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="/login") Login
      a(class="nav-link" href="/register") Register
  else
    nav(class="nav nav-masthead justify-content-center")
      a(class="nav-link" href="#") Halo #{user.username} !
      a(class="nav-link" href="/logout") Logout

block cover-main  
  if ((user)&&((user.role === "admin") || (user.role === "registrar"))&&(collections))
    table(class="table" id="dataPengunjung")
      tr
        th(scope="col") #
        th(scope="col") Nama
        th(scope="col") Lembaga
        th(scope="col") Email
        th(scope="col") HP
        th(scope="col") Referensi
      - var count = 1
      each item in collections
        if item.status === "accepted"
          tr
            th(scope="row") #{count}
            td #{item.nama}
            td #{item.lembaga}
            td #{item.email}
            td #{item.hp}
            td #{item.info}
          - count++        

block cover-footer
  p Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.

append content
  script(src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.4/xlsx.core.min.js")
  script(src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/TableExport/5.0.0/js/tableexport.min.js")
  script.
    $(() => {
      $("#dataPengunjung").tableExport();
    });



          
